<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hola <%= @user.nombre %>!</h1>
<p> Tu empresa te a hecho parte de el sistema blastdoor un software para abrir puertas desde internet </p>
<h1> TU CLAVE PARA TU PRIME ACCEOS ESO: </h1>
<p><%= @pass%></p>
</body>
</html>