<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">BlastDoor</a>/<a href="<%= url_for :controller => 'metricas', :action => 'get' %>">Metricas</a>
      </li>

    </ol>
  </div>
</div>
