<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">BlastDoor</a>/<a href="<%= url_for :controller => 'usuarios', :action => 'get' %>">Usuarios</a>
      </li>

    </ol>
  </div>
</div>
<div class="ibox-content">
  <div class="ibox-content"><div class="col-sm-4 m-b-xs">
    <a onclick="fnClickAddRow();" href="<%= url_for :controller => 'usuario',:action => 'create' %>" class="btn btn-primary ">Agregar Nuevo Usuarios</a></div>

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
      </div>
    </div>
    <div class="col-sm-4 m-b-xs">
      <div data-toggle="buttons" class="btn-group">
        <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> CSU </label>
        <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> EXCEL </label>
        <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> PDF </label>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover " id="editable">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Cargo</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Cargo</th>
    </tr>
    </tfoot>
  </table>

</div>
</div>
</div>
</div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">


      $(function() {

          $('.dataTables-example').dataTable({
              "dom": 'T<"clear">lfrtip',
              "tableTools": {
                  "sSwfPath": "../assets/dataTables/swf/copy_csv_xls_pdf.swf"
              }
          });

          /* Init DataTables */
          var oTable = $('#editable').dataTable();

          /* Apply the jEditable handlers to the table */
          oTable.$('td').editable( '../example_ajax.php', {
              "callback": function( sValue, y ) {
                  var aPos = oTable.fnGetPosition( this );
                  oTable.fnUpdate( sValue, aPos[0], aPos[1] );
              },
              "submitdata": function ( value, settings ) {
                  return {
                      "row_id": this.parentNode.getAttribute('id'),
                      "column": oTable.fnGetPosition( this )[2]
                  };
              },

              "width": "90%",
              "height": "100%"
          } );


      });

      function fnClickAddRow() {
          $('#editable').dataTable().fnAddData( [
              "Custom row",
              "New row",
              "New row",
              "New row",
              "New row" ] );

      }

  </script>

<% end %>
