/*
 *   INSPINIA - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 */

// Google Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstra
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables, Mixins
@import "base/variables";
@import "base/mixins";

// INSPINIA Theme Elements
@import "base/typography";
@import "base/navigation";
@import "base/top_navigation";
@import "base/buttons";
@import "base/badgets_labels";
@import "base/elements";
@import "base/sidebar";
@import "base/base";
@import "base/pages";

// RTL Support
@import "base/rtl";

// For demo only - config box style
@import "base/theme-config";

// INSPINIA Skins
@import "base/skins";

// Media query style
@import "base/media";

// Custom style
// Your custom style to override base style
@import "base/custom";
a.btn.btn-primary.custom-btm {
  /* padding-bottom: 15px; */
  margin-bottom: 10px;
}
input#top-search {
  padding-top: 1.6em;
}
a.navbar-minimalize.minimalize-styl-2.btn.btn-primary {
  padding-top: 1em;
  background-color: white;
  border-color: white;
}
.fa
{
  color: #424242;
}

.login{
  background-color: #424242;
}
.login-button
{
  color: #000000;
  background-color: #303030;
}
.login-link
{
  color: #000000;
}
