<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="buscar ..." class="form-control" name="top-search" id="top-search" />


                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right navbar-header">
          <li>                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </li>
            <li>
                <a href="#">
                  <button class="btn btn-default" type="button"><i class="fa fa-envelope-o"></i></button></a>  </li>
          <li>
                  <a href="#">
                  <button class="btn btn-default" type="button"><i class="fa fa-user"></i></button>                </a>
          </li>
        </ul>
    </nav>
</div>